<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="py-3 py-lg-4">

            <header>
                <div class="h3 mb-1">Shipping information</div>
                <p>Specfication</p>
            </header>

            <div class="py-3 py-lg-4">

                <h5>Money Back Guarantee</h5>
                <p>{{data.lorem.p1}}</p>

                <h5>Need to Return an Item?</h5>
                <p>{{data.lorem.p2}}</p>

                <h5>Check an open return request</h5>
                <p>{{data.lorem.p3}}</p>

                <h5>Send the item back</h5>
                <p>{{data.lorem.p4}}</p>

            </div>

        </div>
    </div>
</div>
