{{> comment title="Widget rating"}}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="rating-overall">
            {{> widget-rating}}

            <hr>

            {{> widget-comments}}

            <hr>

            {{> widget-reply}}
        </div>
    </div>
</div>
