{{> comment title="Footer"}}

<footer class="bg-dark text-white">
    <div class="container">
        <div class="row justify-content-between align-items-end text-center text-md-left">

            <div class="col-md-4 mb-4 mb-md-0">
                <a href="../documentation/index.html" class="link link-underline link-light mr-3"><i class="icon icon-book"></i> Documentation</a>
                <a href="{{global.site.helpdesk}}" class="link link-underline link-light mr-3"><i class="icon icon-heart-pulse"></i> Help</a>
            </div>

            <div class="col-md-6 text-md-right">
                <a href="{{global.site.purchase}}" class="btn btn-outline-light btn-rounded btn-sm px-3">
                    <i class="icon icon-cart"></i> Get the licence
                </a>
            </div>

        </div>

        <div class="pt-5 text-muted text-center">
            <div class="mb-3"><img src="{{data.svg}}reveal-logo.svg" alt=""></div>
            <div><small class="text-muted pre-label">A bold visual experience</small></div>
            <small>{{global.site.copyright}}</small>
        </div>
    </div>
</footer>
