{{> comment title="Header"}}

<header class="bg-dark pt-6 pt-lg-7 pb-4">
    <div class="container text-light text-center pt-5 pt-md-2">
        <h2 class="mb-0">{{page-title}}</h2>
        <p>{{page-subtitle}}</p>
    </div>
</header>
