---
demo: true
no-header: false
nav-sticky: true
nav-dark: true
nav-light: false
nav-relative: false

divider-bg: dark
divider-svg: light

page-title: Demo title
page-subtitle: Demo subtitle
---

<section class="bg-light">
    <div class="container">
        <p>Demo page</p>
    </div>
</section>
