---
divider-bg: dark
divider-svg: light
demo: true
page-title: Whishlist
page-subtitle: My whislist
---
{{> comment title="Whishlist section"}}

<section class="pt-0">
    <div class="container">
        <div class="row">

            {{> comment title="Menu sidebar"}}

            <div class="col-lg-3">

                {{> profile-menu}}

            </div>

            {{> comment title="Whishlist content"}}

            <div class="col-lg-9 pt-lg-4">

                {{> profile-content-whishlist}}

            </div>
        </div>
    </div>
</section>
