---
divider-bg: dark
divider-svg: light
demo: true
page-title: Orders history
page-subtitle: Transactions list
---
{{> comment title="Orders section"}}

<section class="pt-0">
    <div class="container">
        <div class="row">

            {{> comment title="Menu sidebar"}}

            <div class="col-lg-3">

                {{> profile-menu}}

            </div>

            {{> comment title="Orders content"}}

            <div class="col-lg-9 pt-lg-4">

                {{> profile-content-orders}}

            </div>
        </div>
    </div>
</section>
