---
divider-bg: dark
divider-svg: light
demo: true
page-title: Notifications
page-subtitle: Edit alerts and notifications
---
{{> comment title="Notifications section"}}

<section class="pt-0">
    <div class="container">
        <div class="row">

            {{> comment title="Menu sidebar"}}

            <div class="col-lg-3">

                {{> profile-menu}}

            </div>

            {{> comment title="Notifications content"}}

            <div class="col-lg-9 pt-lg-4">

                {{> profile-content-notifications}}

            </div>
        </div>
    </div>
</section>
