---
divider-bg: dark
divider-svg: light
demo: true
page-title: My profile
page-subtitle: User accout
---
{{> comment title="Profile reset-password"}}

<section class="pt-0">
    <div class="container">
        <div class="row">

            {{> comment title="Menu sidebar"}}

            <div class="col-lg-3">

                {{> profile-menu}}

            </div>

            {{> comment title="Form"}}

            <div class="col-lg-9 pt-lg-4">

                {{> profile-content-reset-password}}

            </div>
        </div>
    </div>
</section>
