---
divider-bg: dark
divider-svg: light
demo: true
page-title: Payment options
page-subtitle: Set default payment
---
{{> comment title="Payment section"}}

<section class="pt-0">
    <div class="container">
        <div class="row">

            {{> comment title="Menu sidebar"}}

            <div class="col-lg-3">

                {{> profile-menu}}

            </div>

            {{> comment title="Payment content"}}

            <div class="col-lg-9 pt-lg-4">

                {{> profile-content-payment}}

            </div>
        </div>
    </div>
</section>
