{{> comment title="Unlimited adjustments"}}

<section class="bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <h2 class="display-4">Unlimited adjustments, <b>just for you</b>!</h2>
                    <p class="lead">
                        We have <b>great support</b>! That's right, just create ticket on our helpdesk and we will
                        extend and upgrade any layout, no metter it is still existing or complete new one!
                    </p>
                </div>
                <div class="wow fadeInUp pt-5" data-wow-delay="0.8s">
                    <a href="{{global.site.helpdesk}}" class="btn btn-rounded btn-outline-dark px-4">Send request</a>
                </div>
            </div>
        </div>
    </div>
</section>
