<!--Profile menu-->

<div class="bg-white shadow-sm br-sm">

    <!--Profile menu header-->

    <div class="p-4">
        <div class="text-center">
            <img src="{{data.img}}/demo/placeholder-square.jpg" alt="" class="rounded-circle mb-2" style="width: 50px;">
            <div class="h5 m-0">John Doe</div>
            <div class="text-muted">john.doe@email.com</div>
        </div>
    </div>

    <!--Profile dashboard links-->

    <div class="mb-4">
        <div class="list-group list-group-flush">
            <div class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <div class="pre-label">
                    <small>Dashboard</small>
                </div>
            </div>
            <a href="profile-orders.html" class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <span><i class="icon icon-cart mr-2"></i>
                    <span>Orders</span>
                </span>
                <small class="text-muted">14</small>
            </a>
            <a href="profile-whishlist.html" class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <span><i class="icon icon-heart mr-2"></i>
                    <span>Whishlist</span>
                </span>
                <small class="text-muted">14</small>
            </a>
            <a href="profile.html" class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <span><i class="icon icon-history mr-2"></i>
                    <span>History</span>
                </span>
                <small class="text-muted">2</small>
            </a>
            </ul>
        </div>
    </div>

    <!--Profile account links-->

    <div class="mb-4">
        <div class="list-group list-group-flush">
            <div class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <div class="pre-label">
                    <small>Account</small>
                </div>
            </div>
            <a href="profile.html" class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <span><i class="icon icon-user mr-2"></i>
                    <span>Profile account</span>
                </span>
            </a>
            <a href="profile.html" class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <span><i class="icon icon-cart mr-2"></i>
                    <span>Paymnet methods</span>
                </span>
                <small class="text-muted">2</small>
            </a>
            <a href="profile.html" class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <span><i class="icon icon-alarm mr-2"></i>
                    <span>Notification</span>
                </span>
                <small class="text-muted">1</small>
            </a>
            <a href="profile.html" class="list-group-item text-muted d-flex justify-content-between align-items-center">
                <span><i class="icon icon-enter-down mr-2"></i>
                    <span>Sign out</span>
                </span>
            </a>
        </div>
    </div>

</div>
