{{> comment title="Add to basket"}}

<div class="btn-group w-100">
    <span class="btn btn-sm btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        <span class="show"><i class="fa fa-heart-o"></i> Whish</span>
        <span class="hide"><i class="fa fa-heart"></i> Whislisted</span>
    </span>
    <span class="btn btn-sm btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        <span class="show"><i class="fa fa-eye-slash"></i> Watch</span>
        <span class="hide"><i class="fa fa-eye"></i> Watching</span>
    </span>
</div>
