{{> comment title="Product header"}}

<div class="bg-white py-3 mb-4">
    <div class="d-flex justify-content-between pt-lg-5">
        <div>
            <div class="form-inline">
                <div class="form-group mb-0">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                        <option>All</option>
                    </select>
                    <label for="exampleFormControlSelect1" class="ml-3 d-none d-lg-block"><small>Showing all 24 of 128 products</small></label>
                </div>
            </div>
        </div>
        <div>
            <div class="form-inline">
                <div class="form-group mb-0">
                    <label for="exampleFormControlSelect2" class="mr-3 d-none d-lg-block"><small>Sort by</small></label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect2">
                        <option>Name</option>
                        <option>Price</option>
                    </select>
                </div>
                <div class="d-lg-none ml-2">
                    <button class="btn btn-primary btn-sm toggle-show" data-show="open-mobile-filters">
                        <strong><i class="icon icon-text-align-center"></i> Filters</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
