{{> comment title="Comments"}}

<div class="py-3 py-lg-4">

    {{> comment title="Comments header"}}

    <header>
        <div class="h3 mb-1">Recent comments</div>
        <p class="text-muted"><small>14 review for this product</small></p>
    </header>

    {{> comment title="Comments feedback"}}

    <div class="pt-3 pt-lg-4">

        <div id="comment-1">

            <div class="mb-4">
                <div class="d-flex align-items-center text-small">
                    <img src="{{data.img}}/demo/user-1.jpg" class="mr-2 rounded-circle" alt="..." style="width: 40px;">
                    <div><strong class="mr-1">Anna North</strong></div>
                    <div class="text-muted">- 45 minutes ago</div>
                    <div class="ml-auto">
                        <i class="fa fa-star icon-xs text-primary"></i>
                        <i class="fa fa-star icon-xs text-primary"></i>
                        <i class="fa fa-star icon-xs text-primary"></i>
                        <i class="fa fa-star icon-xs text-secondary"></i>
                        <i class="fa fa-star icon-xs text-secondary"></i>
                    </div>
                </div>
                <div class="my-2">
                    Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
                <div>
                    <a href="#" class="link link-right link-dark"><strong>Reply</strong></a>
                </div>
            </div>

            <div id="comment-1-reply" class="mb-4">
                <div class="mb-4 pl-5 border-left">
                    <div class="d-flex align-items-center text-small">

                        <img src="{{data.img}}/demo/user-2.jpg" class="mr-2 rounded-circle" alt="..." style="width: 40px;">
                        <div><strong class="text-dark mr-1">Megan Watts</strong></div>
                        <div class="text-muted">- just now</div>

                        <div class="ml-auto">
                            <i class="fa fa-star icon-xs text-primary"></i>
                            <i class="fa fa-star icon-xs text-primary"></i>
                            <i class="fa fa-star icon-xs text-primary"></i>
                            <i class="fa fa-star icon-xs text-secondary"></i>
                            <i class="fa fa-star icon-xs text-secondary"></i>
                        </div>

                    </div>

                    <div class="my-2">
                        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>

                    <div>
                        <a href="#" class="link link-right link-dark"><strong>Reply</strong></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="comment-2">

            <div class="mb-4">
                <div class="d-flex align-items-center text-small">
                    <img src="{{data.img}}/demo/user-3.jpg" class="mr-2 rounded-circle" alt="..." style="width: 40px;">
                    <div><strong class="mr-1">Sophia Guess</strong></div>
                    <div class="text-muted">- hour ago</div>
                    <div class="ml-auto">
                        <i class="fa fa-star icon-xs text-primary"></i>
                        <i class="fa fa-star icon-xs text-secondary"></i>
                        <i class="fa fa-star icon-xs text-secondary"></i>
                        <i class="fa fa-star icon-xs text-secondary"></i>
                        <i class="fa fa-star icon-xs text-secondary"></i>
                    </div>
                </div>
                <div class="my-2">
                    Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
                <div>
                    <a href="#" class="link link-right link-dark"><strong>Reply</strong></a>
                </div>
            </div>

            <div id="comment-2-reply" class="mb-4">
                <div class="mb-4 pl-5 border-left">
                    <div class="d-flex align-items-center text-small">

                        <img src="{{data.img}}/demo/user-4.jpg" class="mr-2 rounded-circle" alt="..." style="width: 40px;">
                        <div><strong class="text-dark mr-1">James Tomasek</strong></div>
                        <div class="text-muted">- just now</div>

                        <div class="ml-auto">
                            <i class="fa fa-star icon-xs text-primary"></i>
                            <i class="fa fa-star icon-xs text-primary"></i>
                            <i class="fa fa-star icon-xs text-primary"></i>
                            <i class="fa fa-star icon-xs text-primary"></i>
                            <i class="fa fa-star icon-xs text-secondary"></i>
                        </div>

                    </div>

                    <div class="my-2">
                        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>

                    <div>
                        <a href="#" class="link link-right link-dark"><strong>Reply</strong></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
