<h2 class="pre-label font-size-base">Notifications settings</h2>

<div class="bg-white p-4 p-lg-5 br-sm shadow-sm mb-3 mb-lg-5">
    <div id="notification-settings">

        <div class="mb-5">
            <p class="pre-label pre-label-sm">General alerts</p>

            <div class="border-bottom py-3">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="daily-summary" checked="">
                    <label class="custom-control-label text-heading" for="daily-summary">Daily summary emails</label>
                </div><small class="form-text">Send me a daily summary of all products sold, commented or reviewed</small>
            </div>

            <div class="border-bottom py-3">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="activity">
                    <label class="custom-control-label text-heading" for="activity">Reminders</label>
                </div><small class="form-text">Send me a daily summary of all products sold, commented or reviewed</small>
            </div>

            <div class="border-bottom py-3">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="review-commen">
                    <label class="custom-control-label text-heading" for="review-commen">Review notification</label>
                </div><small class="form-text">Send an email when someone review on one of my products</small>
            </div>
        </div>

        <div class="mb-5">
            <p class="pre-label pre-label-sm">Product alerts</p>

            <div class="border-bottom py-3">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="prod-notification" checked="">
                    <label class="custom-control-label text-heading" for="prod-notification">Product sold notifications</label>
                </div><small class="form-text">Send an email when someone purchased one of my products</small>
            </div>

            <div class="border-bottom py-3">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="prod-update" checked="">
                    <label class="custom-control-label text-heading" for="prod-update">Product update notifications</label>
                </div><small class="form-text">Send an email when a product I've purchased is updated</small>
            </div>

            <div class="border-bottom py-3">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="prod-comments">
                    <label class="custom-control-label text-heading" for="prod-comments">Product comment notifications</label>
                </div><small class="form-text">Send an email when someone comments on one of my products</small>
            </div>

            <div class="border-bottom py-3">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="product-review" checked="">
                    <label class="custom-control-label text-heading" for="product-review">Product review notification</label>
                </div><small class="form-text">Send an email when someone leaves a review with their rating</small>
            </div>
        </div>

        <div class="text-center text-sm-right mt-4 pt-2">
            <button class="btn btn-rounded btn-outline-primary btn-sm px-3 mt-3 mt-sm-0" type="button">
                <i class="fa fa-save mr-2"></i>Save changes
            </button>
        </div>

    </div>
</div>
